In [1]:
import pandas as pd

In [2]:
blood_campain = pd.read_excel("/home/student/Desktop/INDABAX_Challenge/Blood-campain-INDABAX-CHALLLENGE/data/Challenge dataset.xlsx", sheet_name=None)

In [3]:
blood_campain["2019"].shape

(1915, 39)

In [4]:
sheet_2019 = blood_campain["2019"]
sheet_2019

,Date de remplissage de la fiche,Date de naissance,Niveau d'etude,Genre,Taille,Poids,Situation Matrimoniale (SM),Profession,Arrondissement de résidence,Quartier de Résidence,...,"Raison de non-eligibilité totale [Porteur(HIV,hbs,hcv)]",Raison de non-eligibilité totale [Opéré],Raison de non-eligibilité totale [Drepanocytaire],Raison de non-eligibilité totale [Diabétique],Raison de non-eligibilité totale [Hypertendus],Raison de non-eligibilité totale [Asthmatiques],Raison de non-eligibilité totale [Cardiaque],Raison de non-eligibilité totale [Tatoué],Raison de non-eligibilité totale [Scarifié],Si autres raison préciser
0,3/11/2019,1999-09-01 00:00:00,Pas Précisé,Homme,NaN,NaN,Célibataire,Chaudronnier,Douala 3,Logbaba,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3/21/2019,1978-02-04 00:00:00,Universitaire,Homme,NaN,NaN,Marié (e),Secrétaire comptable,Douala (Non précisé ),NDOGPASSI 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-01 00:00:00,1977-12-25 00:00:00,Secondaire,Femme,NaN,NaN,Marié (e),Commerçant (e),Douala (Non précisé ),Dakar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-01-01 00:00:00,1986-02-06 00:00:00,Secondaire,Homme,NaN,NaN,Célibataire,Homme d’affaire,Douala 5,NGANGUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-01-01 00:00:00,1988-05-20 00:00:00,Pas Précisé,Homme,NaN,NaN,Célibataire,Beat Maker,Douala (Non précisé ),Douala,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1910,2019-05-06 00:00:00,1982-03-06 00:00:00,Universitaire,Homme,NaN,NaN,Célibataire,R A S,Douala 5,NDOGBOM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1911,2019-12-09 00:00:00,1991-04-20 00:00:00,Secondaire,Homme,NaN,NaN,Célibataire,HOTELIER,Douala 2,NEW BELL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1912,2019-12-06 00:00:00,1997-01-12 00:00:00,Secondaire,Homme,NaN,NaN,Célibataire,Commerçant (e),Douala 3,YASSA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1913,2019-05-15 00:00:00,1991-05-05 00:00:00,Universitaire,Homme,NaN,NaN,Célibataire,TECHNICIEN GENIE CIVIL,Douala 5,BEPANDA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1914,2019-05-08 00:00:00,1993-01-02 00:00:00,Universitaire,Homme,NaN,NaN,Célibataire,ELECTRICIEN INSTRUMENTISTE,Douala (Non précisé ),R A S,...,Non,Oui,Non,Non,Non,Non,Non,Non,Non,NaN

In [5]:
sheet_2019["Date de remplissage de la fiche"].head()

0              3/11/2019
1              3/21/2019
2    2019-01-01 00:00:00
3    2019-01-01 00:00:00
4    2019-01-01 00:00:00
Name: Date de remplissage de la fiche, dtype: object

In [6]:
def preprocess_date(date_str):
    try:
        # Attempt to convert to datetime
        date = pd.to_datetime(date_str)
    except ValueError:
        # If conversion fails, assume the date is in the format 'm/d/yyyy'
        parts = date_str.split('/')
        if len(parts) == 3 and int(parts[2]) < 1000:
            # Convert to 'mm/dd/yyyy' format
            date_str = f"{parts[0]}/3/2019"
        date = pd.to_datetime(date_str)
    return date

In [7]:
# Apply the preprocessing function
sheet_2019['Date de remplissage de la fiche'] = sheet_2019['Date de remplissage de la fiche'].apply(preprocess_date)

In [8]:
sheet_2019["Date de remplissage de la fiche"].head()

0   2019-03-11
1   2019-03-21
2   2019-01-01
3   2019-01-01
4   2019-01-01
Name: Date de remplissage de la fiche, dtype: datetime64[ns]

In [9]:
sheet_2019["Date de remplissage de la fiche"].shape

(1915,)

In [10]:
sheet_2019["Date de remplissage de la fiche"].head()

0   2019-03-11
1   2019-03-21
2   2019-01-01
3   2019-01-01
4   2019-01-01
Name: Date de remplissage de la fiche, dtype: datetime64[ns]

In [11]:
# Filter dates where the year is not 2019
filtered_dates = sheet_2019[sheet_2019['Date de remplissage de la fiche'].dt.year != 2019]
filtered_dates

,Date de remplissage de la fiche,Date de naissance,Niveau d'etude,Genre,Taille,Poids,Situation Matrimoniale (SM),Profession,Arrondissement de résidence,Quartier de Résidence,...,"Raison de non-eligibilité totale [Porteur(HIV,hbs,hcv)]",Raison de non-eligibilité totale [Opéré],Raison de non-eligibilité totale [Drepanocytaire],Raison de non-eligibilité totale [Diabétique],Raison de non-eligibilité totale [Hypertendus],Raison de non-eligibilité totale [Asthmatiques],Raison de non-eligibilité totale [Cardiaque],Raison de non-eligibilité totale [Tatoué],Raison de non-eligibilité totale [Scarifié],Si autres raison préciser
1540,2020-01-08,1987-09-23 00:00:00,Universitaire,Homme,NaN,NaN,Célibataire,Electrotechncien,Douala 3,Village Cite de bille,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1541,2020-02-01,1984-09-25 00:00:00,Primaire,Homme,NaN,NaN,Marié (e),Vendeur,Douala 5,Bepanda,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1542,2020-03-05,1983-12-26 00:00:00,Secondaire,Homme,NaN,NaN,Célibataire,Restaurateur,Douala 4,Bonamikano,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1543,2020-03-13,2003-07-25 00:00:00,Universitaire,Homme,NaN,NaN,Célibataire,Etudiant (e),Douala 3,Ari,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1544,2020-03-18,1998-11-17 00:00:00,Universitaire,Homme,170.0,65.0,Célibataire,Etudiant (e),Douala 5,Kotto,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1545,2020-03-21,1987-09-30 00:00:00,Secondaire,Homme,NaN,NaN,Célibataire,Commerçant (e),Douala (Non précisé ),Pk12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1546,2020-07-01,1998-01-10 00:00:00,Secondaire,Homme,NaN,NaN,Célibataire,VITRIER,Douala 3,YASSA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1547,2020-07-02,1985-01-01 00:00:00,Pas Précisé,Homme,NaN,NaN,Marié (e),chauffeur,non precisé,non precisé,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1548,NaT,1990-03-22 00:00:00,Secondaire,Homme,NaN,NaN,Célibataire,HOMME D'AFFAIRE,Douala 5,LOGPOM,...,Non,Oui,Non,Non,Non,Non,Non,Non,Non,NaN
1549,NaT,2020-11-23 00:00:00,Secondaire,Homme,NaN,NaN,Célibataire,COMMERCANT,Douala 5,Ange raphael,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1595,1989-10-31,1989-11-19 00:00:00,Secondaire,Homme,NaN,NaN,Célibataire,conducteur d'engin,Douala 5,pk10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1721,2020-10-12,1995-06-14 00:00:00,Universitaire,Homme,NaN,NaN,Célibataire,Etudiant (e),Douala 3,Village,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1722,2020-10-12,1995-06-14 00:00:00,Universitaire,Homme,NaN,NaN,Célibataire,Etudiant (e),Douala 3,Village,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1823,2015-12-26,1979-03-19 00:00:00,Aucun,Homme,NaN,NaN,Marié (e),Tailleur,Douala 1,NEW BELL,...,Non,Non,Non,Non,Non,Non,Non,Non,Non,Aucune information
1824,2014-08-06,1989-08-27 00:00:00,Universitaire,Femme,167.0,74.0,Marié (e),Enseignant (e),Douala 5,TRADEX KOTTO,...,Non,Oui,Non,Non,Non,Non,Non,Oui,Non,NaN
1857,1994-05-30,1994-05-20 00:00:00,Pas Précisé,Homme,NaN,NaN,Célibataire,Maçon,Douala 5,ANGE RAPHAEL,...,Non,Non,Non,Non,Non,Non,Non,Non,Non,NaN

In [12]:
# we now assume that all those who have fille the "Date de remplissage.." with year at 2020 wanted to fill 2019
def adjust_year(date):
    if ((date.year > 2019) or ((date.year > 2010) and (date.year < 2019))) :
        return date.replace(year=2019)
    return date

# Apply the adjustment function
sheet_2019['Date de remplissage de la fiche'] = sheet_2019['Date de remplissage de la fiche'].apply(adjust_year)

In [13]:
filtered_dates = sheet_2019[sheet_2019['Date de remplissage de la fiche'].dt.year != 2019]
filtered_dates.shape

(4, 39)

In [14]:
# since we can't infer on the "Date de remplissage... " of those people we drop them from our dataset
sheet_2019 = sheet_2019.drop(filtered_dates.index)

In [15]:
# ensure that we don't have observation with their "Date de remplissage... " ddifferent of 2019
filtered_dates = sheet_2019[sheet_2019['Date de remplissage de la fiche'].dt.year != 2019]
filtered_dates.shape

(0, 39)

In [16]:
# Next column
def preprocess_birthdate(date_str):
    try:
        # Attempt to convert to datetime
        date = pd.to_datetime(date_str)

    except ValueError:
        # If conversion fails, assume the date is in the format 'm/d/yyyy'
        parts = date_str.split('/')
        if len(parts) == 3 and int(parts[2]) < 1000:
            # Convert to 'mm/dd/yyyy' format
            if int(parts[2]) < 10:
                parts[2] = str(2000 + int(parts[2]))
            elif int(parts[2]) > 10 and int(parts[2]) <= 99:
                parts[2] = str(1900 + int(parts[2]))

            date_str = f"{parts[0]}/{parts[1]}/{parts[2]}"
        date = pd.to_datetime(date_str)
    return date

sheet_2019["Date de naissance"] = sheet_2019["Date de naissance"].apply(preprocess_birthdate)

In [17]:
filtered_dates = sheet_2019[2019- sheet_2019['Date de naissance'].dt.year <= 18]
filtered_dates.shape

(59, 39)

In [18]:
# Extract distinct years from the "Date de naissance" column
distinct_years = sheet_2019["Date de naissance"].dt.year.unique()
distinct_years

array([1999, 1978, 1977, 1986, 1988, 1990, 1992, 1995, 1980, 1991, 1994,
       1975, 1985, 1993, 1998, 1979, 1981, 1989, 1982, 1984, 1997, 1987,
       1972, 1974, 1996, 1966, 2000, 1983, 2019, 1971, 1968, 2020, 1976,
       2089, 2092, 1973, 1962, 1969, 1963, 2001, 1965, 1970, 1964, 2002,
       2008, 2009, 1967, 1961, 2007, 1882, 1957, 2003, 1960, 1959, 1958],
      dtype=int32)

In [19]:
# we assume that people with year "2089, 2092" wanted to put 1989 and 1992 so we change their year
def fix_birthdate_year(date):
    if date.year > 2019:
        if date.year == 2089:
            date = date.replace(year=1989)
        elif date.year == 2092:
            date = date.replace(year=1992)
    return date

sheet_2019["Date de naissance"] = sheet_2019["Date de naissance"].apply(fix_birthdate_year)

In [20]:
# since people can't make donnatio before 18 years old we remove people less than 18 years old as aberant value
sheet_2019 = sheet_2019[2019 - sheet_2019["Date de naissance"].dt.year >= 18]

In [21]:

# new shape 
sheet_2019

,Date de remplissage de la fiche,Date de naissance,Niveau d'etude,Genre,Taille,Poids,Situation Matrimoniale (SM),Profession,Arrondissement de résidence,Quartier de Résidence,...,"Raison de non-eligibilité totale [Porteur(HIV,hbs,hcv)]",Raison de non-eligibilité totale [Opéré],Raison de non-eligibilité totale [Drepanocytaire],Raison de non-eligibilité totale [Diabétique],Raison de non-eligibilité totale [Hypertendus],Raison de non-eligibilité totale [Asthmatiques],Raison de non-eligibilité totale [Cardiaque],Raison de non-eligibilité totale [Tatoué],Raison de non-eligibilité totale [Scarifié],Si autres raison préciser
0,2019-03-11,1999-09-01,Pas Précisé,Homme,NaN,NaN,Célibataire,Chaudronnier,Douala 3,Logbaba,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-03-21,1978-02-04,Universitaire,Homme,NaN,NaN,Marié (e),Secrétaire comptable,Douala (Non précisé ),NDOGPASSI 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-01,1977-12-25,Secondaire,Femme,NaN,NaN,Marié (e),Commerçant (e),Douala (Non précisé ),Dakar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-01-01,1986-02-06,Secondaire,Homme,NaN,NaN,Célibataire,Homme d’affaire,Douala 5,NGANGUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-01-01,1988-05-20,Pas Précisé,Homme,NaN,NaN,Célibataire,Beat Maker,Douala (Non précisé ),Douala,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1910,2019-05-06,1982-03-06,Universitaire,Homme,NaN,NaN,Célibataire,R A S,Douala 5,NDOGBOM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1911,2019-12-09,1991-04-20,Secondaire,Homme,NaN,NaN,Célibataire,HOTELIER,Douala 2,NEW BELL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1912,2019-12-06,1997-01-12,Secondaire,Homme,NaN,NaN,Célibataire,Commerçant (e),Douala 3,YASSA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1913,2019-05-15,1991-05-05,Universitaire,Homme,NaN,NaN,Célibataire,TECHNICIEN GENIE CIVIL,Douala 5,BEPANDA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1914,2019-05-08,1993-01-02,Universitaire,Homme,NaN,NaN,Célibataire,ELECTRICIEN INSTRUMENTISTE,Douala (Non précisé ),R A S,...,Non,Oui,Non,Non,Non,Non,Non,Non,Non,NaN

In [22]:
# Next column
# We first start by passing all the character value in the dataset to lower case
sheet_2019 = sheet_2019.applymap(lambda x: x.lower() if isinstance(x, str) else x)

/tmp/ipykernel_197724/2241824557.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  sheet_2019 = sheet_2019.applymap(lambda x: x.lower() if isinstance(x, str) else x)

In [52]:
def infers_education_level(profession):
    profession = profession.lower().strip()
    # Professions requiring no formal education
    no_education = {"manœuvre", "ouvrier", "agriculteur", "pêcheur"}
    # Professions accessible at student level (basic training or apprenticeship)
    student_level = {"apprenti", "assistant", "aide", "vendeur", "serveur", "chauffeur"}
    # Professions requiring secondary education (CAP, Bac Pro, etc.)
    secondary_level = {
        "soudeur", "électricien", "mécanicien", "coiffeur", "plombier", "maçon", 
        "esthéticien", "technicien", "chauffagiste", "menuisier", "couvreur",
        "chaudronnier", "peintre", "carrossier", "boulanger", "pâtissier", "boucher"
    }
    # Professions requiring university education
    university_level = { "etudiant (e)",
        "ingénieur", "médecin", "avocat", "pharmacien", "architecte", "chercheur", 
        "professeur", "économiste", "développeur", "informaticien", "juriste", "comptable",
        "psychologue", "notaire", "dentiste", "vétérinaire", "biologiste", "scientifique"
    }
    
    # assigning education levels
    if any(word in profession for word in no_education):
        return "pas précisé"
    elif any(word in profession for word in student_level):
        return "élève"
    elif any(word in profession for word in secondary_level):
        return "secondaire"
    elif any(word in profession for word in university_level):
        return "universitaire"
    else:
        return "pas précisé"  # If the profession is difficult to classify

In [ ]:

def infer_education_level(row):
    if row["Niveau d\'etude"] in ["pas précisé", "aucun"]:
        return infers_education_level(row["Profession"])
    return row["Niveau d\'etude"]  

sheet_2019["Niveau d\'etude"] = sheet_2019.apply(infer_education_level,axis=1)

In [ ]:
sheet_2019

array(['homme', 'femme'], dtype=object)

In [ ]:
# next columns 
# we drop taille and poids since they have (97% and 94%) of missing
sheet_2019 = sheet_2019.drop(columns=["Taille","Poids"])
sheet_2019

In [ ]:
grouped_df = sheet_2019.groupby("Arrondissement de résidence")["Quartier de Résidence"].apply(list).reset_index()
grouped_df

   Arrondissement de résidence  \
0                    bafoussam
1                        batie
2                         boko
3             bomono ba mbegue
4                         buea
5                dcankongmondo
6                        deido
7                       douala
8        douala (non précisé )
9                     douala 1
10                    douala 2
11                    douala 3
12                    douala 4
13                    douala 5
14                    douala 6
15                     dschang
16                        edea
17                       kribi
18                      limbe
19                       manjo
20                    meiganga
21               ngodi bakoko
22                      njombe
23                 non precisé
24                 non précisé
25                       oyack
26               pas mentionné
27                 pas precise
28                 pas précisé
29                pas précisé
30                       r a s
31                      r a s
32                         ras
33                        ras
34            sud ouest tombel
35                        tiko
36                        west
37                     yaounde
38                     yaoundé

                                Quartier de Résidence
0                                         [bafoussam]
1                                             [batie]
2                                              [boko]
3                                 [bomono ba mbengue]
4                              [buea, buea, ambiance]
5                                               [ras]
6                                             [deido]
7                                            [douala]
8   [ndogpassi 2, dakar, douala, douala, bependa, ...
9   [deido, bessengue, deido , deido , deido, deïd...
10  [new bell, newbell, newbell, new bell, ngodi b...
11  [logbaba , nyalla, nyalla, nyalla, nkolbong, d...
12  [ndobo , bonaberi, bonaberi, bonaberi, bonaber...
13  [ngangue, bepanda, pk14, makepe, pk12, sic cac...
14                     [bonaberi, bonaberi, bonaberi]
15                                          [dschang]
16  [edea, edea, edea, nkong mondo, edea, edea, ed...
17                                     [kribi, kribi]
18                                            [limbe]
19                                            [manjo]
20                               [meiganga, meiganga]
21                                     [ngodi bakoko]
22                                      [non précisé]
23                                      [non precisé]
24  [aucun, non précisé, non précisé, non précisé,...
25                                            [oyack]
26                                    [pas mentionné]
27  [pas precise, meiganga, pas precise, pas precisé]
28  [pas précisé, pas précisé, pas précisé, pas pr...
29                                     [pas précisé ]
30       [r a s,  r a s, soboum, r a s, r a s, r a s]
31                          [ r a s , congo,  r a s ]
32                [ras, ras, ras, ras, ras, ras, ras]
33                                            [r a s]
34                                           [tombel]
35                                             [tiko]
36                                             [west]
37  [bastos, mbanga, nkolmesseng, yaoundé, damas, ...
38                                          [yaoundé]

In [68]:
# Display the grouped data
for name, group in grouped:
    print(f"Arrondissement: {name}")
    print(group)

Arrondissement: bafoussam
64    bafoussam
Name: Quartier de Résidence, dtype: object
Arrondissement: batie
1247    batie
Name: Quartier de Résidence, dtype: object
Arrondissement: boko
1819    boko
Name: Quartier de Résidence, dtype: object
Arrondissement: bomono ba mbegue
1250    bomono ba mbengue
Name: Quartier de Résidence, dtype: object
Arrondissement: buea
362        buea
407        buea
996    ambiance
Name: Quartier de Résidence, dtype: object
Arrondissement: dcankongmondo
1811    ras
Name: Quartier de Résidence, dtype: object
Arrondissement: deido
1080    deido
Name: Quartier de Résidence, dtype: object
Arrondissement: douala
920    douala
Name: Quartier de Résidence, dtype: object
Arrondissement: douala (non précisé )
1           ndogpassi 2
2                 dakar
4                douala
5                douala
6               bependa
             ...
1889           bilongue
1891             douala
1899    newton  airport
1903    texaco aeroport
1914              r a s
Name: Quartier de Résidence, Length: 964, dtype: object
Arrondissement: douala 1
27                 deido
40             bessengue
61                deido
62                deido
87                 deido
              ...
1729                bali
1823            new bell
1838                akwa
1850    bonamodoro diedo
1861            bonaberi
Name: Quartier de Résidence, Length: 73, dtype: object
Arrondissement: douala 2
30          new bell
45           newbell
181          newbell
228         new bell
248     ngodi bakoko
            ...
1749        new bell
1846        bonaloka
1859        new-bell
1890        new-bell
1911        new bell
Name: Quartier de Résidence, Length: 79, dtype: object
Arrondissement: douala 3
0          logbaba
15           nyalla
16           nyalla
17           nyalla
18         nkolbong
           ...
1895      ndogpossi
1896     bonaorisso
1897        logbaba
1901    ndogpassi 2
1912          yassa
Name: Quartier de Résidence, Length: 396, dtype: object
Arrondissement: douala 4
50              ndobo
59            bonaberi
60            bonaberi
95            bonaberi
119     bonaberi ndobo
             ...
1524         bonaberie
1535        bonambappe
1542        bonamikano
1900          bonaberi
1905          bonaberi
Name: Quartier de Résidence, Length: 61, dtype: object
Arrondissement: douala 5
3                 ngangue
7                 bepanda
8                    pk14
13                 makepe
14                   pk12
              ...
1898              village
1902                 pk10
1908    cite des pakmiers
1910              ndogbom
1913              bepanda
Name: Quartier de Résidence, Length: 218, dtype: object
Arrondissement: douala 6
1204    bonaberi
1660    bonaberi
1716    bonaberi
Name: Quartier de Résidence, dtype: object
Arrondissement: dschang
86    dschang
Name: Quartier de Résidence, dtype: object
Arrondissement: edea
752            edea
906            edea
1128           edea
1129    nkong mondo
1400           edea
1457           edea
1607           edea
1608           edea
1785           édea
1786          edea
1791          edéa
Name: Quartier de Résidence, dtype: object
Arrondissement: kribi
486     kribi
1348    kribi
Name: Quartier de Résidence, dtype: object
Arrondissement: limbe
1757    limbe
Name: Quartier de Résidence, dtype: object
Arrondissement: manjo
812    manjo
Name: Quartier de Résidence, dtype: object
Arrondissement: meiganga
1418    meiganga
1420    meiganga
Name: Quartier de Résidence, dtype: object
Arrondissement: ngodi bakoko
1752    ngodi bakoko
Name: Quartier de Résidence, dtype: object
Arrondissement: njombe
609    non précisé
Name: Quartier de Résidence, dtype: object
Arrondissement: non precisé
1547    non precisé
Name: Quartier de Résidence, dtype: object
Arrondissement: non précisé
469          aucun
477    non précisé
493    non précisé
498    non précisé
510    non précisé
531    non précisé
547    non précisé
566    non précisé
567    non précisé
578    non précisé
588    non précisé
597    non précisé
Name: Quartier de Résidence, dtype: object
Arrondissement: oyack
939    oyack
Name: Quartier de Résidence, dtype: object
Arrondissement: pas mentionné
1093    pas mentionné
Name: Quartier de Résidence, dtype: object
Arrondissement: pas precise
1456    pas precise
1526       meiganga
1528    pas precise
1530    pas precisé
Name: Quartier de Résidence, dtype: object
Arrondissement: pas précisé
509     pas précisé
524     pas précisé
527     pas précisé
1531    pas précisé
Name: Quartier de Résidence, dtype: object
Arrondissement: pas précisé
1732    pas précisé
Name: Quartier de Résidence, dtype: object
Arrondissement: r a s
1796     r a s
1797     r a s
1833    soboum
1834     r a s
1845     r a s
1909     r a s
Name: Quartier de Résidence, dtype: object
Arrondissement: r a s
1756     r a s
1763      congo
1769     r a s
Name: Quartier de Résidence, dtype: object
Arrondissement: ras
1755    ras
1764    ras
1768    ras
1790    ras
1810    ras
1820    ras
1860    ras
Name: Quartier de Résidence, dtype: object
Arrondissement: ras
1907    r a s
Name: Quartier de Résidence, dtype: object
Arrondissement: sud ouest tombel
1731    tombel
Name: Quartier de Résidence, dtype: object
Arrondissement: tiko
649    tiko
Name: Quartier de Résidence, dtype: object
Arrondissement: west
868    west
Name: Quartier de Résidence, dtype: object
Arrondissement: yaounde
28           bastos
51           mbanga
91      nkolmesseng
139         yaoundé
159           damas
187         yaoundé
203      nkol mbong
312         yaounde
922         yaounde
1021       mballa 2
1028        yaounde
1376      biyemassi
1572        yaounde
1879            ras
Name: Quartier de Résidence, dtype: object
Arrondissement: yaoundé
935    yaoundé
Name: Quartier de Résidence, dtype: object