In [1]:
import pandas as pd

In [2]:
data_path = "/home/student/Desktop/INDABAX_Challenge/Blood_campain_challenge_updated/data/Updated Challenge dataset.xlsx"
blood_campain = pd.read_excel(data_path, sheet_name=None)

In [3]:
df_with_Bthd = blood_campain["Candidat au don 2019 (avec anne"]
df_with_age = blood_campain["Candidat au don 2019  (avec age"]
donnors = blood_campain['Donneurs 2019']

In [4]:
def preprocess_date(date_str):
    try:
        # we attempt to convert to datetime
        date = pd.to_datetime(date_str)
    except ValueError:
        # If conversion fails, we assume the date is in the format 'm/d/yyyy'
        parts = date_str.split('/') # we split dates using / as separator 
        if len(parts) == 3 and int(parts[2]) < 1000: 
            # change the year in the good format with the year at 2019
            date_str = f"{parts[1]}/{parts[0]}/2019"
        date = pd.to_datetime(date_str)
    return date

In [5]:
df_with_Bthd['Date de remplissage de la fiche'] = df_with_Bthd['Date de remplissage de la fiche'].apply(preprocess_date)
df_with_Bthd['Date de naissance'] = df_with_Bthd['Date de naissance'].apply(preprocess_date)

/tmp/ipykernel_179611/2094283300.py:11: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  date = pd.to_datetime(date_str)

In [6]:
# Ensure the columns are in datetime format
df_with_Bthd = df_with_Bthd.dropna(subset=["Date de naissance", "Date de remplissage de la fiche"])
df_with_Bthd["Date de remplissage de la fiche"] = pd.to_datetime(df_with_Bthd["Date de remplissage de la fiche"], dayfirst=True)
df_with_Bthd["Date de naissance"] = pd.to_datetime(df_with_Bthd["Date de naissance"], dayfirst=True)

# Compute age at the time of form filling
df_with_Bthd["Age"] = ((df_with_Bthd["Date de remplissage de la fiche"] - df_with_Bthd["Date de naissance"]).dt.days // 365).astype(int)

# Display the first few rows
print(df_with_Bthd[["Date de remplissage de la fiche", "Date de naissance", "Age"]])
df_with_Bthd

     Date de remplissage de la fiche Date de naissance  Age
0                         2019-11-03        1999-09-01   20
1                         2019-03-21        1978-02-04   41
2                         1977-12-25        1977-12-25    0
3                         1986-02-06        1986-02-06    0
4                         1988-05-20        1988-05-20    0
...                              ...               ...  ...
1910                      2019-05-06        1982-03-06   37
1911                      2019-12-09        1991-04-20   28
1912                      2019-12-06        1997-01-12   22
1913                      2019-05-15        1991-05-05   28
1914                      2019-05-08        1993-01-02   26

[1913 rows x 3 columns]

/tmp/ipykernel_179611/960045048.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_with_Bthd["Date de remplissage de la fiche"] = pd.to_datetime(df_with_Bthd["Date de remplissage de la fiche"], dayfirst=True)
/tmp/ipykernel_179611/960045048.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_with_Bthd["Date de naissance"] = pd.to_datetime(df_with_Bthd["Date de naissance"], dayfirst=True)
/tmp/ipykernel_179611/960045048.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_with_Bthd["Age"] = ((df_with_Bthd["Date de remplissage de la fiche"] - df_with_Bthd["Date de naissance"]).dt.days // 365).astype(int)

,Date de remplissage de la fiche,Date de naissance,Niveau d'etude,Genre,Taille,Poids,Situation Matrimoniale (SM),Profession,Arrondissement de résidence,Quartier de Résidence,...,Raison de non-eligibilité totale [Opéré],Raison de non-eligibilité totale [Drepanocytaire],Raison de non-eligibilité totale [Diabétique],Raison de non-eligibilité totale [Hypertendus],Raison de non-eligibilité totale [Asthmatiques],Raison de non-eligibilité totale [Cardiaque],Raison de non-eligibilité totale [Tatoué],Raison de non-eligibilité totale [Scarifié],Si autres raison préciser,Age
0,2019-11-03,1999-09-01,Pas Précisé,Homme,NaN,NaN,Célibataire,Chaudronnier,Douala 3,Logbaba,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20
1,2019-03-21,1978-02-04,Universitaire,Homme,NaN,NaN,Marié (e),Secrétaire comptable,Douala (Non précisé ),NDOGPASSI 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41
2,1977-12-25,1977-12-25,Secondaire,Femme,NaN,NaN,Marié (e),Commerçant (e),Douala (Non précisé ),Dakar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,1986-02-06,1986-02-06,Secondaire,Homme,NaN,NaN,Célibataire,Homme d’affaire,Douala 5,NGANGUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,1988-05-20,1988-05-20,Pas Précisé,Homme,NaN,NaN,Célibataire,Beat Maker,Douala (Non précisé ),Douala,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1910,2019-05-06,1982-03-06,Universitaire,Homme,NaN,NaN,Célibataire,R A S,Douala 5,NDOGBOM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37
1911,2019-12-09,1991-04-20,Secondaire,Homme,NaN,NaN,Célibataire,HOTELIER,Douala 2,NEW BELL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28
1912,2019-12-06,1997-01-12,Secondaire,Homme,NaN,NaN,Célibataire,Commerçant (e),Douala 3,YASSA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22
1913,2019-05-15,1991-05-05,Universitaire,Homme,NaN,NaN,Célibataire,TECHNICIEN GENIE CIVIL,Douala 5,BEPANDA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28
1914,2019-05-08,1993-01-02,Universitaire,Homme,NaN,NaN,Célibataire,ELECTRICIEN INSTRUMENTISTE,Douala (Non précisé ),R A S,...,Oui,Non,Non,Non,Non,Non,Non,Non,NaN,26

In [24]:
def plusOne(value):
    return value + 1

def genreToSexe(genre):
    if genre == "Homme":
        return "M"
    elif genre == "Femme":
        return "F"

df_with_Bthd["Age "] = df_with_Bthd["Age"].apply(plusOne)
df_with_Bthd["Sexe"] = df_with_Bthd["Genre"].apply(genreToSexe)

/tmp/ipykernel_179611/1796545282.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_with_Bthd["Age "] = df_with_Bthd["Age"].apply(plusOne)
/tmp/ipykernel_179611/1796545282.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_with_Bthd["Sexe"] = df_with_Bthd["Genre"].apply(genreToSexe)

In [8]:
donnors_reduce = donnors[["Sexe","Age "]]
df_with_Bthd_reduce = df_with_Bthd[["Sexe","Age "]]

In [9]:
# Perform an inner merge to keep only common (Sexe, Age) pairs
common_rows = pd.merge(df_with_Bthd_reduce, donnors_reduce, on=["Sexe", "Age "], how="inner")

In [10]:
common_rows.shape

(107519, 2)

In [41]:
def checkSimilarity(data_A,data_B):
    result_list = []

    ageA = data_A["Age"]
    profA = data_A["Profession"]
    natA = data_A["Nationalité"]
    arrA = data_A["Arrondissement de résidence"]
    quaterA = data_A["Quartier de Résidence"]
    genreA = data_A["Genre"]
    
    ageB = data_B["Age"]
    profB = data_B["Profession_"]
    natB = data_B["Nationalité_"]
    arrB = data_B["Arrondissement_de_résidence_"]
    quaterB = data_B["Quartier_de_Résidence_"]
    genreB = data_B["Genre_"]
    

    tupleA =  list(zip(ageA,profA,natA,arrA,quaterA,genreA))
    tupleB = list(zip(ageB,profB,natB,arrB,quaterB,genreB))

    for tup  in tupleB:
        if tup in tupleA:
            result_list.append(tup)
    return result_list

In [42]:
def convertInt(dataA):
    ages = list(dataA["Age "])  # Convert column values to a list
    for index, age in enumerate(ages):  # Use enumerate() to get index and value
        if "&" in str(age):  # Ensure age is a string before checking "&"
            ages[index] = int(47)  # Replace with 47
        else:
            try:
                ages[index] = int(age)  # Convert to integer
            except ValueError:
                ages[index] = None  # Handle invalid cases gracefully
    
    # Assign back to DataFrame
    dataA["Age"] = pd.Series(ages, index=dataA.index) # Ensure index matches

    return dataA  # Return the modified DataFrame

In [43]:
#convertInt(donnors_reduce)

In [45]:
common = pd.DataFrame(checkSimilarity(df_with_Bthd,df_with_age))

In [50]:
common.columns = ["Age", "Profession", "Nationalite", "Arrondissement", "Quartier", "Genre"]

In [51]:
common.head()

   Age      Profession   Nationalite         Arrondissement Quartier  Genre
0   30  Commerçant (e)  Camerounaise  Douala (Non précisé )   Douala  Homme
1   23    Sans Emplois  Camerounaise  Douala (Non précisé )   Douala  Homme
2   29    Sans Emplois  Camerounaise  Douala (Non précisé )   Douala  Homme
3   31   Electronicien  Camerounaise  Douala (Non précisé )   Bangue  Homme
4   21    Etudiant (e)  Camerounaise               Douala 2   youpwe  Homme

In [53]:
filtre = (df_with_Bthd["Genre"] == "Femme")

In [55]:
df_with_Bthd[filtre].count()/df_with_Bthd.shape[0]*100

Date de remplissage de la fiche                                                              10.036592
Date de naissance                                                                            10.036592
Niveau d'etude                                                                               10.036592
Genre                                                                                        10.036592
Taille                                                                                        0.365917
Poids                                                                                         0.679561
Situation Matrimoniale (SM)                                                                  10.036592
Profession                                                                                   10.036592
Arrondissement de résidence                                                                  10.036592
Quartier de Résidence                                                                        10.036592
Nationalité                                                                                  10.036592
Religion                                                                                     10.036592
A-t-il (elle) déjà donné le sang                                                             10.036592
Si oui preciser la date du dernier don.                                                       3.031887
Taux d’hémoglobine                                                                            5.541035
ÉLIGIBILITÉ AU DON.                                                                          10.036592
Raison indisponibilité  [Est sous anti-biothérapie  ]                                         2.822791
Raison indisponibilité  [Taux d’hémoglobine bas ]                                             3.136435
Raison indisponibilité  [date de dernier Don < 3 mois ]                                       2.822791
Raison indisponibilité  [IST récente (Exclu VIH, Hbs, Hcv)]                                   2.822791
Date de dernières règles (DDR)                                                                2.090957
Raison de l’indisponibilité de la femme [La DDR est mauvais si <14 jour avant le don]         2.665970
Raison de l’indisponibilité de la femme [Allaitement ]                                        2.665970
Raison de l’indisponibilité de la femme [A accoucher ces 6 derniers mois  ]                   2.665970
Raison de l’indisponibilité de la femme [Interruption de grossesse  ces 06 derniers mois]     2.613696
Raison de l’indisponibilité de la femme [est enceinte ]                                       2.665970
Autre raisons,  preciser                                                                      0.156822
Sélectionner "ok" pour envoyer                                                                3.240983
Raison de non-eligibilité totale  [Antécédent de transfusion]                                 1.306848
Raison de non-eligibilité totale  [Porteur(HIV,hbs,hcv)]                                      1.306848
Raison de non-eligibilité totale  [Opéré]                                                     1.306848
Raison de non-eligibilité totale  [Drepanocytaire]                                            1.306848
Raison de non-eligibilité totale  [Diabétique]                                                1.306848
Raison de non-eligibilité totale  [Hypertendus]                                               1.306848
Raison de non-eligibilité totale  [Asthmatiques]                                              1.306848
Raison de non-eligibilité totale  [Cardiaque]                                                 1.306848
Raison de non-eligibilité totale  [Tatoué]                                                    1.306848
Raison de non-eligibilité totale  [Scarifié]                                                  1.306848
Si autres raison préciser                                                                     0.209096
Age                                                                                          10.036592
Age                                                                                          10.036592
Sexe                                                                                         10.036592
dtype: float64

In [ ]:
for arrondissement, quartiers in arrondissement_dict.items():
    for quartier in quartiers: